[Unit]
Description=shareframe update python application
After=network.target pigpiod.service dev-spidev0.0.device dev-spidev0.1.device
Wants=pigpiod.service dev-spidev0.0.device dev-spidev0.1.device

[Service]
Type=oneshot
User=frame
WorkingDirectory=/home/frame/shareframe/app
ExecStart=/home/frame/shareframe/.venv/bin/python /home/frame/shareframe/app/update.py
Restart=no

[Install]
WantedBy=multi-user.target