[Unit]
Description=shareframe heartbeat for showing activness to the server
After=network.target

[Service]
Type=simple
User=frame

WorkingDirectory=/home/frame/shareframe/app

Environment="PYTHONUNBUFFERED=1"

ExecStart=/home/frame/.local/bin/poetry run python /home/frame/shareframe/app/heartbeat.py

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
