[Unit]
Description=shareframe python application
After=network.target pigpiod.service dev-spidev0.0.device dev-spidev0.1.device
Wants=pigpiod.service dev-spidev0.0.device dev-spidev0.1.device

[Service]
Type=simple
User=frame
WorkingDirectory=/home/frame/shareframe/app

ExecStartPre=/bin/sleep 5

ExecStart=/home/frame/shareframe/.venv/bin/python /home/frame/shareframe/app/main.py

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target