[Unit]
Description=shareframe python application
After=network.target pigpiod.service dev-spidev0.0.device dev-spidev0.1.device
Wants=pigpiod.service dev-spidev0.0.device dev-spidev0.1.device

[Service]
Type=simple
User=frame

WorkingDirectory=/home/frame/shareframe/app

ExecStartPre=/bin/sleep 5

Environment="PYTHONUNBUFFERED=1"

ExecStart=/home/frame/.local/bin/poetry run python /home/frame/shareframe/app/app.py

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target