[Unit]
Description=shareframe update python application to apply all updates and not considering only critical ones
After=network.target pigpiod.service dev-spidev0.0.device dev-spidev0.1.device
Wants=pigpiod.service dev-spidev0.0.device dev-spidev0.1.device

[Service]
Type=oneshot
User=frame

WorkingDirectory=/home/frame/shareframe/app

Environment="PYTHONUNBUFFERED=1"
Environment="FORCE_ALL_UPDATES=true"
ExecStart=/home/frame/.local/bin/poetry run python /home/frame/shareframe/app/update.py

Restart=no

[Install]
WantedBy=multi-user.target