[Unit]
Description=shareframe dashboard for frame settings python application
After=network.target pigpiod.service dev-spidev0.0.device dev-spidev0.1.device
Wants=pigpiod.service dev-spidev0.0.device dev-spidev0.1.device

[Service]
Type=simple
User=frame

WorkingDirectory=/home/frame/shareframe/app

Environment="PYTHONUNBUFFERED=1"

ExecStart=/home/frame/.local/bin/poetry run gunicorn --chdir /home/frame/shareframe/app --workers 1 --bind=0.0.0.0:8080 dashboard_main:app --timeout 600

Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
