{% extends "djoser/djoser_base_email.html" %}

{% block title %}Passwort erfolgreich geändert! 🎉{% endblock %}

{% block content %}
<h1 style="font-size: 24px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Passwort geändert – alles
    klar! 🔐</h1>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Hey {{ user.username }},
</p>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Dein Passwort wurde
    erfolgreich aktualisiert.</p>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Falls du diese Aktion nicht
    selbst durchgeführt hast, schick schnell eine Nachricht an unser Support-Team.</p>
<a style="background-color: #8b5cf6; padding: 10px 20px; color: #ffffff; border-radius: 5px; display: inline-block; text-decoration: none;"
    href="{{ protocol }}://{{ domain }}/{{ contact_url|safe }}" class="button">Support anschreiben</a>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Danke, dass du dein Konto
    sicher hältst!</p>
{% endblock %}