{% extends "djoser/djoser_base_email.html" %}

{% block title %}Passwort zurücksetzen – lass uns das fix machen! 🚀{% endblock %}

{% block content %}
<h1 style="font-size: 24px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Passwort zurücksetzen – so
    geht's! 🔄</h1>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Hey {{ user.username }},
</p>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Wir haben eine Anfrage zum
    Zurücksetzen deines Passworts bekommen.</p>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Um dein Passwort neu
    festzulegen, klick einfach auf den Button unten:</p>
<a style="background-color: #8b5cf6; padding: 10px 20px; color: #ffffff; border-radius: 5px; display: inline-block; text-decoration: none;"
    href="{{ protocol }}://{{ domain }}/{{ url|safe }}" class="button">Passwort jetzt zurücksetzen</a>
<p style="font-size: 16px; line-height: 1.5; font-family: Inter, Roboto, Arial, sans-serif;">Wenn das nicht von dir kam,
    ignorier diese E-Mail einfach.</p>
{% endblock %}